:root {
    --line-height: 6px;
    --line-space: 16px;
    --line-width: 60px;
    --line-color: #fff;
    --animation-cubic-bezier: cubic-bezier(0.30,1,0.70,1);
    --animation-duration: 0.7s;
    --x-color: #7a7a7a;
}

/* use only the available space inside the 400x400 frame */
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 7px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #3FAF82;    
    color: #fff;
    font-family: 'Courier New', 'Courier', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    transform: translate(170px, 180px);
    height: calc((var(--line-height)*3 + var(--line-space)*2));
    width: var(--line-width);
    cursor: pointer;
}

/* .center:hover .line{
    background-color: var(--x-color);
} */


.line {
    position: absolute;
    width: var(--line-width);
    height: var(--line-height);
    border-radius: 2px;
    background: var(--line-color);
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
    transition: var(--animation-duration) ease-in-out;
}

.one {
    animation: top-animation-rev var(--animation-duration) ease-in-out;
}

.two {
    top: var(--line-space);
}

.three {
    animation: bottom-animation-rev var(--animation-duration) ease-in-out;
    top: calc(var(--line-space)*2);
}

.one-animate {
    animation: top-animation var(--animation-duration) var(--animation-cubic-bezier) forwards;
}

.two-animate {
    transition: calc(var(--animation-duration)*0.5);
    transform: scale(0);
    
}

.three-animate {
    animation: bottom-animation var(--animation-duration) var(--animation-cubic-bezier) forwards;
}

.no-animation {
	-webkit-animation: none !important;
    animation: none !important; 
}

@keyframes top-animation {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(var(--line-space));
        background: var(--line-color);
    }
    100% {
        transform: translateY(var(--line-space)) rotate(45deg);
        background: var(--x-color);
    }
}

@keyframes top-animation-rev {
    0% {
        transform: translateY(var(--line-space)) rotate(45deg);
        background: var(--x-color);
    }
    50% {
        transform: translateY(var(--line-space));
        background: var(--line-color);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes bottom-animation {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(calc(-1*var(--line-space)));
        background: var(--line-color);
    }
    100% {
        transform: translateY(calc(-1*var(--line-space))) rotate(135deg);
        background: var(--x-color);
    }
}

@keyframes bottom-animation-rev {
    0% {
        transform: translateY(calc(-1*var(--line-space))) rotate(135deg);
        background: var(--x-color);
    }
    50% {
        transform: translateY(calc(-1*var(--line-space)));
        background: var(--line-color);
    }
    100% {
        transform: translate(0);
    }
}