:root {
    --animation-duration: 10s;
}

.frame {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 7px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #272C34;    
    color: #fff;
    font-family: 'Courier New', 'Courier', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
    justify-content: center;
}

.center-frame {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: #7DDFFC;
    overflow: hidden;
    animation: night var(--animation-duration) ease-in-out infinite;
}

.center-frame::after {
    position: absolute;
    height: 180px;
    width: 180px;
    top: 110px;
    border-radius: 50%;
    content: '';
    z-index: 10;
    animation: sunset var(--animation-duration) ease-in-out infinite;
}

.sun {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #FFEF00;
    left: 75px;
    top: 110px;
    transform: rotate(-120deg) translateX(105px);
    z-index: 8;
    animation: day-cycle var(--animation-duration) ease-in-out infinite;
}

.pyramid {
    position: relative;
    height: 120px;
    width: 120px;
    background-color: #fff;
    left: 30px;
    top: -30px;
    z-index: 2;
    clip-path: polygon(0 100%, 50% 50%, 100% 100%);
    animation: pyramid-shadow var(--animation-duration) ease-in-out infinite;
}

.pyramid-right {
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: #d6d5d5;
    z-index: 3;
    clip-path: polygon(70% 100%, 50% 50%, 100% 100%);
    animation: pyramid-shadow var(--animation-duration) ease-in-out infinite reverse;
}

.shadow {
    position: absolute;
    height: 30px;
    width: 400px;
    left: -110px;
    background-color: #0000001f;
    z-index: 4;
    animation: shadow-movement var(--animation-duration) ease-in-out infinite;
    transform-origin: 50% 0%;
}

.ground {
    position: relative;
    width: 100%;
    height: 70px;
    top: -30px;
    background-color: #F0DE75;
    z-index: 1;
}

@keyframes day-cycle {
    0% {
        transform: rotate(-180deg) translateX(105px);
    }
    30% {
        transform: rotate(-120deg) translateX(105px);
    }
    100% {
        transform: rotate(0deg) translateX(105px);
    }
}

@keyframes shadow-movement {
    0% {
        transform: scaleY(0);
        clip-path: polygon(140px 0%, 260px 0%, 100% 100%);
    }
    30% {
        transform: scaleY(1);
        clip-path: polygon(140px 0%, 260px 0%, 70% 100%);
    }
    55% {
        transform: scaleY(.2);
    }
    70% {
        transform: scaleY(.8);
    }
    100% {
        transform: scaleY(0);
        clip-path: polygon(140px 0%, 260px 0%, 0% 100%);
    }
}

@keyframes sunset {
    0% {
        background-color: #ff1e00;
        opacity: .5;
    }
    30% {
        background-color: #ff9900;
        opacity: 0;
    }
    70% {
        background-color: #ff9900;
        opacity: 0;
    }
    100% {
        background-color: #ff1e00;
        opacity: .5;
    }
}

@keyframes night {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pyramid-shadow {
    0% {
        background-color: #fff;
    }
    30% {
        background-color: #fff;
    }
    70% {
        background-color: #d6d5d5;
    }
    100% {
        background-color: #d6d5d5;
    }
}